@media (min-width: 740px) and (max-width: 1023px) {
    #header {
        overflow: hidden;
    }
    #nav {
        display: block; 
     }
     #nav .subnav {
        position: initial;
     }
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    .gow-btn {
        display: none;
    }
    .mobile-gow-btn {
        display: block;
    }
    
}
@media (max-width: 835px) {
    #header {
        overflow: hidden;
    }
    #nav {
        display: block; 
     }
     
     #nav .subnav {
        position: initial;
     }
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    .gow-btn {
        display: none;
    }
    .mobile-gow-btn {
        display: block;
    }
}